<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
 

  <mapper namespace="bikeweb.dao.NoticeDao">
  	<!-- 제목, 내용 검색 / 전체리스트 조회 -->
	<select id="noticeList" resultType="notice" parameterType="notice">
		select *
		from notice
		where 1=1
		and title like '%'||#{title}||'%'
		or content like '%'||#{title}||'%'
		ORDER BY writedate desc
	</select>
	<!-- 상세페이지 -->
	<select id="noticeView" resultType="notice" parameterType="string">
		select * from notice 
		WHERE noticeno like '%'||#{noticeno}||'%'
	</select>
	<!-- 안전수칙 조회 -->
	<select id="guideLineList" resultType="guideLine" parameterType="guideLine">
		select *
		from guideline
		where 1=1
	</select>
  </mapper> 