<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
 

  <mapper namespace="bikeweb.dao.QnaDao">
  	<!-- 제목, 내용 검색 / 상담 내역 리스트 조회 -->
	<select id="qnaList" resultType="qna" parameterType="qna">
		select *
		from qna
		where 1=1
		and title like '%'||#{title}||'%'
		or content like '%'||#{title}||'%'
		ORDER BY writedate desc
	</select>
	<!-- 상세페이지 -->
	<select id="qnaView" resultType="qna" parameterType="string">
		select * from qna
		WHERE qno like '%'||#{qno}||'%'
	</select>
	<!-- 문의 글 등록 -->
	<insert id="insertQna" parameterType="qna">
		INSERT INTO qna values('qna'||qna_seq.nextval,sysdate,#{id},#{title},#{content},#{imgfile},NULL,NULL)			
	</insert>
	<!-- 글 수정 -->
	<update id= "updateQna" parameterType="qna">
		update qna
		set title = #{title},
			content = #{content}
	   	where qno like '%'||#{qno}||'%'
	</update> 
	<!-- 글 삭제 -->
	<delete id="deleteQna" parameterType="string">
		delete 
		from qna 
		where qno like '%'||#{qno}||'%'
	</delete>	
  </mapper> 